@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Todo List</h1>
    <p class="lead"> This is a first delpoyed version of a Todo list program built using ASP.Net MVC frameworks, Azure, Ajax, Javascript, and Bootstrap.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Current Functionality</h2>

        <p>This application allows discrete users to create Trello-like lists of tasks.</p>
        <p>This includes auto-updating database and pages without refreshing.</p>
        <p>These tasks can be only be seen through the interface by their own creators.</p>
        <p>Users can log in to see their tasks.</p>
        <p>Information is kept consistent between visits to the page, as data is held server side.</p>
        <p>Items can be marked as completed.</p>
        <p>Tasks can only be edited and deleted by logged-in users, and only their tasks.</p>
        <p>A completed task turns grey and gain a strike-through.</p>
        <p>A Progress displays and keeps updated without refreshing.</p>
        <p>Users can check the time remaining for each entry.</p>
        <p>Users set the due date for the entry</p>
        <p>Users can order entries how they wish</p>


    </div>
    <div class="col-md-4">
        <h2>Planned Features</h2>

        <p>Retain sorting after leaving the page</p>        

    </div>
    <div class="col-md-4">
        <h2>Author</h2>
        <p>
            Jacob Humphrey created this application.
        </p>
    </div>
</div>